{% extends "base.html" %}
{% block content %}

<div class="container mt-5">

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>My Transactions</h2>
        <div>
            <a href="{% url 'transaction_create' %}" class="btn btn-success">Add</a>
            <a href="{% url 'summary' %}" class="btn btn-primary">Summary</a>
            <a href="{% url 'logout' %}" class="btn btn-dark">Logout</a>
        </div>
    </div>

    <table class="table table-bordered table-striped shadow text-center">
        <thead class="table-dark">
            <tr>
                <th>Date</th>
                <th>Type</th>
                <th>Category</th>
                <th>Amount</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for t in transactions %}
            <tr>
                <td class="main text-white">{{ t.date }}</td>

                <td>
                    {% if t.type == 'income' %}
                        <span class="badge bg-success">Income</span>
                    {% else %}
                        <span class="badge bg-danger">Expense</span>
                    {% endif %}
                </td>

                <td class="main text-white" >{{ t.category }}</td>

                <td>
                    <strong class="{% if t.type == 'income' %}text-success{% else %}text-danger{% endif %}">
                        ₹ {{ t.amount }}
                    </strong>
                </td>

                <td>
                    <a href="{% url 'transaction_update' t.id %}" class="btn btn-warning btn-sm">Edit</a>
                    <a href="{% url 'transaction_delete' t.id %}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td class="main text-white" colspan="5">No transactions yet 🚀</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock content %}